body
{
    margin: 0px;
}

.titres
{
    font-family: 'Bangers', serif;
    text-shadow: 4px 4px 4px #aaa;
}

h1
{
    font-size: 72px;
}

h2
{
    font-size: 60px;
}

h3
{
    font-size: 48px;
}

h4
{
    font-size: 24px;
}

.nav, .bandlist, .contactlist
{
    list-style-type: none;
}

#school
{
    background-color: teal;
    color: white;
}

#music
{
    background-color: rgb(153,102,153);
    color: rgb(255,255,204);
}

#passions
{
    background-color: #666699;
    color: #FFFFFF;
}

#contacts
{
    background-color: #994f68;
    color: #FFFFFF;
}

.indice
{
    border-bottom: 1px solid #000;
    padding: 5px 20px 30px;
}

header
{
    background-image: url("https://scontent-iad.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/10402658_785912414753319_4950261333426875335_n.jpg?oh=9940b188655dccb9110704f3139b5b3f&oe=558769B0");
    background-size: cover;
}

a.liens>img
{
    height: 40px;
    width: 40px;
}

ul.bandlist li>img
{
    height: 315px;
    width: 420px;
}