/*tous les éléments*/
*{
    box-sizing: border-box;
}


/*body*/
body
{
    margin: 0;
    font-family: cursive;
    padding-top: 31px;
}


/*tous les titres*/
.titres
{
    font-family: 'Bangers', serif;
    text-shadow: 4px 4px 4px #aaa;
}

h1
{
    font-size: 72px;
}

h2
{
    font-size: 60px;
}

h3
{
    font-size: 48px;
}

h4
{
    font-size: 24px;
}


/*header*/

header
{
    background-image: url(../images/bois.jpg);
    background-size: cover;
    text-align: center;
    overflow: hidden;
}

h4.titres.devise
{
    text-align: center;
}



.nav, .bandlist, .contactlist
{
    list-style-type: none;
}

#school, nav>ul>li.schoolbutton
{
    background-color: teal;
    color: white;
}

#music, nav>ul>li.musicbutton
{
    background-color: rgb(153,102,153);
    color: rgb(255,255,204);
}

#passions, nav>ul>li.passionsbutton
{
    background-color: #666699;
    color: #FFFFFF;
}

#contacts, nav>ul>li.contactsbutton
{
    background-color: #994f68;
    color: #FFFFFF;
}

.indice
{
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 5px 20px 30px;
}



a.liens>img
{
    height: 40px;
    width: 40px;
}

a
{
    text-decoration: none;
}

ul.nav li a
{
    color: #FFFFFF;
}

#contacts ul li
{
    display: inline-block;
}

#menu {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    border: 5px double darkgoldenrod;
}

#menu ul {
    margin: 0;
    text-align: center;
    padding: 0;
}

#menu ul li{
    text-align: center;
    width: 250px;
    display: inline-block;
    border: 3px solid black;
    padding: 3px;
    margin: 1%;
    font-size: x-large;
}

.oldband{
    display: inline-block;
    width: 385px;
    border: 1px solid black;
    vertical-align: top;
    padding: 2px;
}

li.oldband>h3{
    text-align: center;
}

li.oldband>img
{
    width: 368px;
    height: 208px;
}
